#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.dbg-border {
    border: 1px black solid;
}

#header {
    margin: 0;
}

#map {
    margin: 0;
    padding: 0;
    height: 84vh;
    overflow: hidden;
}

#footer {
    margin: 0;
    height: 8vh;
    text-align: center;
    font-size: x-large;
}

input:focus { 
    outline: none !important;
    border-color: #AFE1AF !important;
    box-shadow: 0 0 5px #AFE1AF !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.shadow {
	-webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
}

a {
    text-decoration: none !important;
}

#loading {
	position: fixed;
	display: block;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	
	text-align: center;
	background-color: #F5F5F5;
	/* background-image: url(../static/images/logo.png); */
	/* background-image: url(../static/images/bg3.jpeg); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25rem;
	z-index: 999;
}
